<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PuzzleD</title>
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <!-- page content -->
        <div class="sidebar">
          I am a sidebar
        </div>
        <main id="dashboard">
          I am the content
        </main>
        <!-- end of page -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="assets/js/script.js"></script>
    </body>
</html>

