<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PuzzleD</title>
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <!-- page content -->
        <nav class="sidebar">
          <a class="item" href="announcements">Announcements</a>
          <a class="item" href="puzzles">Puzzles</a>
          <a class="item" href="hunts">Hunts</a>
          <a class="item" href="settings">Settings</a>
          <a class="item" href="about">About</a>
        </nav>

        <main id="dashboard">
          <input id="search" type="search" placeholder="Search..."/>
          <table id="puzzles"></table>
        </main>
        <!-- end of page -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="assets/js/script.js"></script>
    </body>
</html>

